pandas==2.3.0
numpy==2.2.6
yfinance==0.2.65
streamlit==1.45.1
scikit-learn==1.7.0

langchain==0.3.25
langchain-text-splitters==0.3.8

chromadb==0.5.23

sentence-transformers==4.1.0
transformers==4.52.4
torch==2.7.1

protobuf==5.29.5
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0